

.main-container{
  transition: 0.5s ease-in-out;
}


.account-container{
  margin: auto;
  color: white;
  font-style: 'bold';
}
.token {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}
.title-name:hover{
  color: rgba(5, 240, 228, 0.527);
  cursor: pointer;
}

.row{
  display: flex;
  flex-direction:column;
  padding: 10px;
  margin: 10px;
  justify-content: space-evenly;
}
.inner-container{
  
  display: flex;
  flex-direction:column;
}

.cards{
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  border-radius: 10px;
  margin: 10px;
  width: 120px;
  height: 120px;
  transition: transform .2s;
  border-style: solid;
  border-color: rgba(39, 39, 39, 0.527);
}

.cards:hover{
  
    transform: scale(1.2);
    border-color: rgba(5, 240, 228, 0.301);
    color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(251, 245, 255, 0.4);
  
}

.img-collect{
  height: 80px;
  width: 80px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
}


.card-layout{
  background-color: rgba(21, 26, 30, 0.438);
  border-radius: 20px;
  padding: 20px;
  display: grid;
  width: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  grid-template-columns: auto auto auto auto auto auto;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
}

.token-result{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: auto;
 
}

.tokens-text{
  color: white;
  font-size: xx-large;
  padding: 10px;
}


.background{
  padding: 50px;
  margin: auto;
}

.token-container{
  display: 1;
  background-color: rgb(21,26,30);
  padding: 10px;
  margin: auto;
  width: max-content;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
  box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.5);
}



.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}

.image {
  width: 300px;
}



@media only screen and (max-width: 800px) {
  .card-layout{
    background-color: rgb(21,26,30);
    border-radius: 20px;
    padding: 20px;
    display: grid;
    width: auto;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    
  }
}


@media only screen and (min-width: 0px) and (max-width:700px){

  .card-layout{
    padding: 20px;
    display: grid;
    width: auto;
    margin: auto;
    margin-left: 15px;
    margin-top: 50px;
  }

}